h1 {text-align: center;
    background-color: orange;}

h2 {text-align: center;}

body {background-color: blanchedalmond;}

.blog {float: left;
       width: 58%;
       font-size: 18px;
}
.contact{float: right;
         width: 42%;
}
.footer { height: 100px; }

.container {overflow: hidden;}

